@import "tailwindcss";

@theme {
  --font-khmer: "Noto Sans Khmer", sans-serif;
  --font-moul: "Moul", "Noto Sans Khmer", cursive;
}

html,
body {
  font-family: "Noto Sans Khmer", sans-serif;
  background-color: #eaf3ee;
}

.font-moul {
  font-family: "Moul", "Noto Sans Khmer", cursive;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(15, 118, 110, 0.4);
  border-radius: 9999px;
}
